Edit form for gratitude entry

<form class="" action="/gratitude_entries/<%=@gratitude_entry.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<label for="content">Content:</label>
<textarea name="content" value="<%=@gratitude_entry.content %>">
<input type="submit" name="" value="Create Entry">

</form>