<h2>Create a new Entry:</h2>
<html>
<head>
<style>
div {
  background-color: grey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
body {
  background-color: green;
}
</style>
</head>
<body>

<form class="" action="/gratitude_entries" method="post">
<label for="content">Content:</label>
<input type="text" name="content" value="">
<input type="submit" name="" value="Create Entry">

</form>