Show page for a gratitude entry

<p><%= @gratitude_entry.content %></p>


<%if authorized_to_edit?(@gratitude_entry)%>
<a href="/gratitude_entries/<%=@gratitude_entry.id %>/edit">Edit Entry:</a>
<form class="" action="/gratitude_entries/<%=@gratitude_entry.id %>" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="Submit" name="" value="Delete this Entry">
</form>
<%end%>