Show page for a gratitude entry
<html>
<head>
<style>
div {
  background-color: grey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
body {
  background-color: green;
}
</style>
</head>
<body>

<p><%= @gratitude_entry.content %></p>


<%if authorized_to_edit?(@gratitude_entry)%>
<a href="/gratitude_entries/<%=@gratitude_entry.id %>/edit">Edit Entry:</a>
<br><br>
<form class="" action="/gratitude_entries/<%=@gratitude_entry.id %>" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="Submit" name="" value="Delete this Entry">
</form>
<%end%>