<h2>Sign Up!<h2>

<html>
<head>
<style>
div {
  background-color: grey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
body {
  background-color: green;
}
</style>
</head>
<body>

<form class="" action="/users" method="post">
<label for="name">:Name</label>
<input type="text" name="name" value="">
<label for="email">:Email</label>
<input type="text" name="email" value="">
<label for="password">:Password</label>
<input type="text" name="password" value="">
<input type="Submit" name="" value="Create User">
</form>

<a href="/">Back</a>