<html>
<head>
<style>
body {
  background-color: green;
}

  background-color:  grey;
  width: 300px;
  border: 15px solid green;
  padding: 60px;
  margin: 30px;
}

</style>
</head>
<body>

<div>
<h1>Welcome to Gratitude : )</h1>
<p> A place for reflection!</p>
</div>
</body>
</html>

<a href="/login">Login In</a> OR <a href="/signup">Sign Up</a> 